.CustomizationBoardRoot
{
	width: 100%;
	height: 100%;
}

#CustomizeServant
{
	margin-bottom: 240px;
	vertical-align: bottom;
	horizontal-align: center;
}

/*.AspectRatio16x10 .CustomizationBoardRoot
{
    horizontal-align: left;
    vertical-align: bottom;
    margin-bottom: 24%;
    margin-left: 0%;
    flow-children: down;
}

.AspectRatio16x9 .CustomizationBoardRoot
{
    horizontal-align: left;
    vertical-align: bottom;
    margin-bottom: 24%;
    margin-left: 0%;
    flow-children: down;
}

.AspectRatio4x3 .CustomizationBoardRoot
{
    horizontal-align: left;
    vertical-align: bottom;
    margin-bottom: 24%;
    margin-left: 0%;
    flow-children: down;
}*/

#CustomizationOpenButton
{
    margin-left: 0%;
    width: 300px;
    height: 50px;
    brightness: 1.5;
}



#CustomizationBoard
{
    width: 700px;
    height: 200px;
     background-image: url("s2r://panorama/images/heroes/zxc_png.vtex");
	//background-color: gradient( linear, 30% 30%, 40% 40%, from( #ff0000 ), to( #94bbe9 ) );
	//box-shadow: #000000ff 0px 0px 8px 0px;
    //border-radius: 50px 50px 50px 50px;
   //border:3px solid #DAA520;
    //box-shadow: fill #fffb84 1px 3px 2px 2px; // outer, filled
	border:2px solid #fd2d2d;
    overflow: scroll;
    

}

.CustomizationText
{
    font-weight: bold;
    color: #fd2d2d;
    font-size: 16px;
    text-shadow: 2px 2px 2px #000000;
    //color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
}

#CustomizationOpenButtonText
{
    vertical-align: middle;
    transition-property: opacity;
    transition-duration: 0.12s;
    transition-timing-function: ease-in-out;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFD700 ), color-stop( .5, #7f6b00 ), to( #0000 ) );
}

#CustomizationTopContainer
{
	flow-children: right;
	margin-left: 20px;
    margin-top: 10px;
}

#CustomizationBottomContainer
{
	flow-children: right;
	margin-left: 20px;
    margin-top: 100px;
}

#CustomizationAttributeText
{

}

#CustomizationAttributePanel
{
}

#CustomizationAttributeLayout
{
	margin-top: 16px;
	flow-children: right;
}

#CustomizationStatPanel
{
	margin-left: 45px;
}

#CustomizationStatLayout
{
	margin-top: 16px;
	flow-children: right;
}

.StatDisplayText
{
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
    font-weight: bold;
    //color: gradient( linear, 0% 0%, 0% 100%, from( #45d28b ), color-stop( 0.3, #ddf53d ), to( #45d28b ) );
	color: #57b7ff;
    font-size: 14px;
    vertical-align: middle;
	text-align: center;
}

.StatAmountContainer
{
	width: 64px;
	height: 24px;
	margin-right: 4px;
}

#CustomizationStatAmountLayout
{
	margin-left: 0px;
	margin-top: 72px;
	flow-children: right-wrap;
}

#CustomizationCooldownPanel
{
    margin-top: 280px;
    margin-left: 20px;
    flow-children: right;
}

#CustomizationCooldownLayout
{
	margin-top: 16px;
	flow-children: right;
}

#CustomizationShardPanel
{
    margin-left: 70px;
}

#CustomizationShardTextLayout
{
    flow-children: right;
}

#CustomizationShardNumber
{
    margin-left: 40px;
	color: #ffe856;
}

#CustomizationShardLayout
{
    margin-top: 16px;
    flow-children: right;
}
