.base {
width: 100%;
height: 100%;}

#BlackBarTop {
width: 100%;
height: 14%;
vertical-align: top;
background-color: #000000; }

#BlackBarBottom {
width: 100%;
height: 14%;
vertical-align: bottom;
background-color: #000000; }