*.log
*.bin

*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

#*.vpcf_c
#*.vmdl_c
#*.vmat_c
#*.vsnd_c
#*.vtex_c
#*.vsndevts_c
#*.vxml_c
game/dota_addons/fate/addon_doctor.py
game/dota_addons/fate/addon_doctor_report.txt
game/dota_addons/fate/правила описаний.txt
game/dota_addons/fate/Процесс разработки героя.md
game/dota_addons/fate/addon_doctor.py
game/dota_addons/fate/tools_thumbnail_cache.sqlite3
